@import url(https://fonts.googleapis.com/css?family=Roboto);

body{font-family: 'Roboto', sans-serif; font-size: 14px; margin: 0; padding: 10px 50px 50px 50px;}
.container{width: 1280px;}
#header{ display: inline-block; width: 100%;}
#header .account { margin-bottom: 18px; margin-top: 15px;}
#header .account a{ color: #000;}
#action {background: #025930;  border-radius: 0;  margin-bottom: 20px; margin-left: -50px;  margin-right: -50px;  padding: 0 50px;}
.default-filters{ margin: 0; padding: 0; list-style: none;}
.default-filters li{ margin: 0; padding: 0; list-style: none; display: inline-block;}
.default-filters li a{ color: #fff; padding: 12px 16px; margin: 0; display: inline-block}
.default-filters li a.active, .default-filters li a:hover{ background: url(../images/active.png) no-repeat center bottom; color: #fff; text-decoration: none}
.default-filters li a i{ color: #fff;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {background-color: #025930; border-color: #025930;}
#header img{width: 230px;}
.logo{ float: left}
.searchform{ float: left; margin: 6px 0 0 46px}
.searchform input { border: 1px solid #ccc; border-radius: 3px 0 0 3px; padding: 8px 15px;}
.searchform button { background: #025930; border: medium none; border-radius: 0 3px 3px 0; color: #fff; padding: 9px 18px;margin: 0 0 0 -5px;}
a i{color: #025930}
.action-btns ul{ margin: 0; padding: 0; text-align: center;}
.action-btns ul li { background: #025930;  border-radius: 3px; display: inline-block; list-style: outside none none; margin: 0 2px;}
.action-btns ul li a{  padding: 5px 19px; display: inline-block}
.action-btns ul li a i{ color: #fff;}
.action-btns { margin: 0 0 20px;}
.action-btns ul li:hover .childemail{ display: block}
.childemail {display:none; padding: 7px 0 0 !important; position: absolute; top: 18px;    width: 191px;}
.childemail li { background: #000 !important; border-radius: 0 !important; border-top: 1px solid #ccc; float: left; margin: 0 !important; text-align: left;width: 100%;}
.childemail:after, .childemail:before {bottom: 87%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.childemail::before {  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #000;  border-width: 8px; margin-left: -73px;}
.childemail li a{ text-align: left; color: #fff; text-decoration: none; cursor: pointer; font-size: 13px;}
.right { float: right;}
section { position: relative;}
.count{ position: absolute; right: 0; top:0}
.form-inline .form-group{ margin-bottom: 15px;}
.pagination{margin: 0 0 20px;}
.wd50{ width: 50%; float: left}
.btn-group, .btn-group-vertical {width: 98% !important;}
#createTemple .modal-body, #freeemail .modal-body{ overflow: hidden;}
#templatedemail .modal-body{min-height: 175px;}

/*------- Login Page --------*/
.form-container {bottom: 0; height: 168px; left: 0; margin: auto; position: fixed;right: 0;top: -150px;width: 450px;}
.form-container-inner {background: #fff; padding: 35px; -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);
                       -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);
                       box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.55);}
.form-container input{ background: #f2f2f2; width: 92%; padding: 15px 4%; border: 0; margin-bottom: 10px; font-size: 16px;}
.form-container ul{ margin: 0; padding: 0; list-style: none}
.form-container button {background: #00b241;border: medium none; color: #fff; font-size: 17px; padding: 11px 0; cursor: pointer;width: 100%;}
.form-container h1{color: #fff; margin: 0 0 15px 0; font-size: 25px; text-align: center;text-transform: uppercase}
.error{ color: #ff0000; display: block;font-size: 12px; margin: 0 0 4px; padding: 8px 0; width: 96%;}
body.login{background: #55b460;}


bootstrap-select.btn-group .dropdown-menu{
width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
max-height: 230px !important;}